.RickAndMortyPage_container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 1rem;
}

.RickAndMortyPage_card {
    width: 100%;
    margin: 2rem;
    cursor: pointer;
    transition: .25s;
}

.RickAndMortyPage_card:hover {
    transform: scale(1.05);
}
